
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    .logo{
        width: 41.4px;
        height: 45.9px;
    }
    .dropdown-menu{
        background-color: lightgray;
    }
    .carrito{
        width: 1.3rem;
        filter: invert(100%);
    }
}
.main{
    .banner{
        height: 225px;
        width: 400px;
        @media screen and (min-width: 576px) {
            height: 291px;
            width: 516px;
        }
        @media screen and (min-width: 768px) {
            height: 387px;
            width: 687px;
        }
        @media screen and (min-width: 992px) {
            height: 500px;
            width: 888px;
        }
        background-image: url('../assets/images/banners/imacs.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .producto{
        img{
            height: 10rem;
        }
        p{
            width: 100%;
            text-align: center;
        }
        button{
            width: 5rem;
            height: 2rem;
            font-size: 12px;
            font-weight: bold;
        }
    }
}
.footer{
    min-height: 100px;
    img{
        width: 30px;
        height: 30px;
    }
    iframe{
        box-sizing: border-box;
        height: 50%;
        width: 60%;
    }
}
#carrito{
    p{
        padding: 20px 0;
        text-align: center;
        font-weight: bold;
    }
    table{
        margin: auto;
        font-size: x-small;
        td, th{
            text-align: center;
            padding: 0 10px;
        }
        button{
            border: none;
            background: none;
            width: 15px;
            img{
                width: 100%;
            }
        }
        @media screen and (min-width: 992px) {
            font-size: small;
            td, th{
                padding: 0 20px;
            }
        }
    }
    img{
        width: 40px;
    }
}