
.header{
    .logo{
        width: 41.4px;
        height: 45.9px;
    }
    .dropdown-menu{
        background-color: lightgray;
    }
}
.main{
    .banner{
        height: 225px;
        width: 400px;
        @media screen and (min-width: 576px) {
            height: 291px;
            width: 516px;
        }
        @media screen and (min-width: 768px) {
            height: 387px;
            width: 687px;
        }
        @media screen and (min-width: 992px) {
            height: 500px;
            width: 888px;
        }
        background-image: url('../assets/images/banners/imacs.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .producto{
        img{
            height: 10rem;
        }
        p{
            width: 100%;
            text-align: center;
        }
        button{
            width: 5rem;
            height: 2rem;
            font-size: 12px;
            font-weight: bold;
        }
    }
}
.footer{
    min-height: 100px;
    img{
        width: 30px;
        height: 30px;
    }
    iframe{
        box-sizing: border-box;
        height: 50%;
        width: 60%;
    }
}