.productOverlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 2px #666;
  padding: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.productOverlay .productContent {
  display: none;
  background-color: #fff;
  border: solid 2px #666;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  padding: 4rem;
  width: 70%;
  position: absolute;
  left: 15%;
  z-index: 200;
}

.productOverlay .productContent #carouselDetalle {
  width: 40%;
  margin: auto;
}

.productOverlay .productContent a.xbtn {
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 1rem;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  color: #666;
  font-size: 2.5rem;
  cursor: pointer;
}

.productOverlay .productContent .detailButtons {
  width: 100%;
}

.productOverlay .productContent .detailButtons a.btn {
  text-decoration: none;
  border-radius: 30px;
  float: right;
  padding: 6px 12px;
  font-size: 1rem;
  color: #666;
  background: #fff;
  border: 1px solid #666;
}

.productOverlay .productContent .detailButtons a.btn:hover {
  background: #666;
  color: #fff;
}

.header .logo {
  width: 41.4px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.header .dropdown-menu {
  background-color: lightgray;
}

.header .carrito {
  width: 1.3rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.header #carritoHeader a {
  position: relative;
}

.header #carritoHeader a #itemCount {
  font-size: xx-small;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 3px;
  left: 25px;
  background: radial-gradient(white, #ccc);
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  outline: none;
}

.header #cartFocus {
  margin-left: 1rem;
  margin-top: .5rem;
  cursor: pointer;
  display: none;
}

@-webkit-keyframes finishPurchaseFocuser {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

@keyframes finishPurchaseFocuser {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

.header #cartFocus .flecha {
  width: 25px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-animation-name: finishPurchaseFocuser;
          animation-name: finishPurchaseFocuser;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.header #cartFocus div {
  margin-left: .5rem;
  color: #fff;
  font-size: medium;
  -webkit-animation-name: finishPurchaseFocuser;
          animation-name: finishPurchaseFocuser;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.main .banner {
  height: 225px;
  width: 400px;
}

@media screen and (min-width: 576px) {
  .main .banner {
    height: 291px;
    width: 516px;
  }
}

@media screen and (min-width: 768px) {
  .main .banner {
    height: 387px;
    width: 687px;
  }
}

@media screen and (min-width: 992px) {
  .main .banner {
    height: 500px;
    width: 888px;
  }
}

.main .banner .carousel-item {
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
}

.main .producto .imagenProd {
  height: 10rem;
  cursor: pointer;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.main .producto .imagenProd:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.main .producto p {
  width: 100%;
  text-align: center;
}

.main .producto .nombreProducto {
  cursor: pointer;
}

.main .producto button {
  width: 5rem;
  height: 2rem;
  font-size: 12px;
  font-weight: bold;
}

.main .producto .lastUnit img {
  width: 15px;
}

.main .producto .lastUnit div {
  font-size: x-small;
}

.footer {
  min-height: 100px;
}

.footer img {
  width: 30px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.footer iframe {
  height: 50%;
  width: 60%;
}

.inp_errores {
  font-size: x-small;
  color: red;
  margin: 1rem 0;
}

#carrito p {
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}

#carrito img {
  width: 40px;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

#carrito img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#carrito table {
  margin: auto;
  font-size: x-small;
}

#carrito table td, #carrito table th {
  text-align: center;
  padding: 0 10px;
}

#carrito table td .minusButton, #carrito table td .plusButton, #carrito table th .minusButton, #carrito table th .plusButton {
  border: none;
  background: none;
  margin: 0 10px;
}

#carrito table td .minusButton img, #carrito table td .plusButton img, #carrito table th .minusButton img, #carrito table th .plusButton img {
  width: 12px;
}

#carrito table td .minusButton img:hover, #carrito table td .plusButton img:hover, #carrito table th .minusButton img:hover, #carrito table th .plusButton img:hover {
  background-color: grey;
}

#carrito table td .trashButton, #carrito table th .trashButton {
  border: none;
  background: none;
}

#carrito table td .trashButton img, #carrito table th .trashButton img {
  width: 15px;
}

@media screen and (min-width: 992px) {
  #carrito table {
    font-size: small;
  }
  #carrito table td, #carrito table th {
    padding: 0 20px;
  }
}

#paymentModal #paymentOptions table td input, #paymentModal #paymentOptions table td label {
  margin: 0 1rem;
}

#paymentModal #paymentOptions table td img {
  margin: 0 1rem;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */