.productOverlay{
    display: none;
    background-color: rgba(0, 0, 0, .8);
    border: solid 2px #666;
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    .productContent{
        display: none;
        background-color: #fff;
        border: solid 2px #666;
        border-radius: 15px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
        padding: 4rem;
        width: 70%;
        position: absolute;
        left: 15%;
        z-index: 200;
        #carouselDetalle{
            width: 40%;
            margin: auto;
        }
        a.xbtn{
            text-decoration: none;
            position: absolute;
            top: 0;
            right: 1rem;
            transform: rotateZ(45deg);
            color: #666;
            font-size: 2.5rem;
            cursor: pointer;
        }
        .detailButtons{
            width: 100%;
            a.btn{
                text-decoration: none;
                border-radius: 30px;
                float: right;
                padding: 6px 12px;
                font-size: 1rem;
                color: #666;
                background: #fff;
                border: 1px solid #666;
                &:hover{
                    background: #666;
                    color: #fff;
                }
            }
        }
    }
}
.header{
    .logo{
        width: 41.4px;
        filter: invert(100%);
    }
    .dropdown-menu{
        background-color: lightgray;
    }
    .carrito{
        width: 1.3rem;
        filter: invert(100%);
    }
    #carritoHeader{
        a{
            position: relative;
            #itemCount{
                font-size: xx-small;
                font-weight: bold;
                color: black;
                position: absolute;
                top: 3px;
                left: 25px;
                background: radial-gradient(white, #ccc);
                border: none;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                outline: none;
            }
        }
    }
    #cartFocus{
        @keyframes finishPurchaseFocuser {
            0% {
                transform: translateX(0px);
            }
            100% {
                transform: translateX(15px);
            }
        }
        margin-left: 1rem;
        margin-top: .5rem;
        cursor: pointer;
        display: none;
        .flecha{
            width: 25px;
            filter: invert(100%);
            animation-name: finishPurchaseFocuser;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            animation-timing-function: ease-in-out;
        }
        div{
            margin-left: .5rem;
            color: #fff;
            font-size: medium;
            animation-name: finishPurchaseFocuser;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            animation-timing-function: ease-in-out;
            animation-delay: .1s;
        }
    }
}
.main{
    .banner{
        height: 225px;
        width: 400px;
        @media screen and (min-width: 576px) {
            height: 291px;
            width: 516px;
        }
        @media screen and (min-width: 768px) {
            height: 387px;
            width: 687px;
        }
        @media screen and (min-width: 992px) {
            height: 500px;
            width: 888px;
        }
        .carousel-item{
            transition-duration: 1500ms;
        }
    }
    .producto{
        .imagenProd{
            height: 10rem;
            cursor: pointer;
            transition: ease-in-out;
            transition-duration: 200ms;
            &:hover{
                transform: scale(1.03);
            }
        }
        p{
            width: 100%;
            text-align: center;
        }
        .nombreProducto{
            cursor: pointer;
        }
        button{
            width: 5rem;
            height: 2rem;
            font-size: 12px;
            font-weight: bold;
        }
        .lastUnit{
            img{
                width: 15px;
            }
            div{
                font-size: x-small;
            }
        }
    }
}
.footer{
    min-height: 100px;
    img{
        width: 30px;
        filter: invert(100%);
    }
    iframe{
        height: 50%;
        width: 60%;
    }
}
.inp_errores{
    font-size: x-small;
    color:red;
    margin: 1rem 0;
}
#carrito{
    p{
        padding: 20px 0;
        text-align: center;
        font-weight: bold;
    }
    img{
        width: 40px;
        transition: ease-in-out;
        transition-duration: 200ms;
        &:hover{
            transform: scale(1.05);
        }
    }
    table{
        margin: auto;
        font-size: x-small;
        td, th{
            text-align: center;
            padding: 0 10px;
            .minusButton, .plusButton{
                border: none;
                background: none;
                margin: 0 10px;
                img{
                    width: 12px;
                    &:hover{
                        background-color: grey;
                    }
                }
            }
            .trashButton{
                border: none;
                background: none;
                img{
                    width: 15px;
                }
            }
        }
        @media screen and (min-width: 992px) {
            font-size: small;
            td, th{
                padding: 0 20px;
            }
        }
    }
}
#comprasModal{
    table{
        margin: auto;
        font-size: small;
        border-collapse: separate;
        td, th{
            text-align: center;
            width: 150px;
            .detail{
                cursor: pointer;
                width: 15px;
            }
            .imgD{
                width: 30px;
            }
        }
        .detail-row-header{
            background-color: rgb(120, 168, 231);
            font-weight: bold;
            font-size: x-small;
            td:first-child{
                border-top-left-radius: 5px;
            }
            td:last-child{
                border-top-right-radius: 5px;
            }
        }
        .empty-row, .empty-row2{
            td{
                height: 10px;
            }
        }
        .detail-row{
            font-size: x-small;
            background-color: #ccc;
        }
        .deco-row{
            background-color: rgb(120, 168, 231);
            font-size: x-small;
            td{
                height: 6px;
            }
            td:first-child{
                border-bottom-left-radius: 3px;
            }
            td:last-child{
                border-bottom-right-radius: 3px;
            }
        }
        tr:last-child{
            td:first-child{
                border-bottom-left-radius: 5px;
            }
            td:last-child{
                border-bottom-right-radius: 5px;
            }
        }
        @media screen and (min-width: 992px) {
            font-size: small;
            td, th{
                padding: 0 20px;
            }
        }
    }
}
#paymentModal{
    #paymentOptions{
        table{
            td{
                input, label{
                    margin: 0 1rem;
                }
                img{
                    margin: 0 1rem;
                    height: 50px;
                }
            }
        }
    }
}