.header{
    .logo{
        width: 41.4px;
        filter: invert(100%);
    }
    .dropdown-menu{
        background-color: lightgray;
    }
    .carrito{
        width: 1.3rem;
        filter: invert(100%);
    }
    #carritoHeader{
        a{
            position: relative;
            #itemCount{
                font-size: xx-small;
                font-weight: bold;
                color: black;
                position: absolute;
                top: 3px;
                right: 0;
                background: radial-gradient(white, #ccc);
                border: none;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                outline: none;
            }
        }
    }
}
.main{
    .banner{
        height: 225px;
        width: 400px;
        @media screen and (min-width: 576px) {
            height: 291px;
            width: 516px;
        }
        @media screen and (min-width: 768px) {
            height: 387px;
            width: 687px;
        }
        @media screen and (min-width: 992px) {
            height: 500px;
            width: 888px;
        }
        background-image: url('../assets/images/banners/imacs.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .producto{
        .imagenProd{
            height: 10rem;
        }
        p{
            width: 100%;
            text-align: center;
        }
        button{
            width: 5rem;
            height: 2rem;
            font-size: 12px;
            font-weight: bold;
        }
        .lastUnit{
            img{
                width: 15px;
            }
            div{
                font-size: x-small;
            }
        }
    }
}
.footer{
    min-height: 100px;
    img{
        width: 30px;
        filter: invert(100%);
    }
    iframe{
        height: 50%;
        width: 60%;
    }
}
.inp_errores{
    font-size: x-small;
    color:red;
    margin: 1rem 0;
}
#carrito{
    p{
        padding: 20px 0;
        text-align: center;
        font-weight: bold;
    }
    img{
        width: 40px;
    }
    table{
        margin: auto;
        font-size: x-small;
        td, th{
            text-align: center;
            padding: 0 10px;
            .minusButton, .plusButton{
                border: none;
                background: none;
                margin: 0 10px;
                img{
                    width: 12px;
                    &:hover{
                        background-color: grey;
                    }
                }
            }
            .trashButton{
                border: none;
                background: none;
                img{
                    width: 15px;
                }
            }
        }
        @media screen and (min-width: 992px) {
            font-size: small;
            td, th{
                padding: 0 20px;
            }
        }
    }
}
#paymentModal{
    #paymentOptions{
        table{
            td{
                input, label{
                    margin: 0 1rem;
                }
                img{
                    margin: 0 1rem;
                    height: 50px;
                }
            }
        }
    }
}